[submodule "home/.vim/bundle/vim-endwise"]
	path = home/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/vim-execrus"]
	path = home/.vim/bundle/vim-execrus
	url = https://github.com/sirupsen/vim-execrus.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-liquid"]
	path = home/.vim/bundle/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/tcomment_vim"]
	path = home/.vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/gist-vim"]
	path = home/.vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "home/.vim/bundle/webapi-vim"]
	path = home/.vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
