[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/gist"]
	path = home/.vim/bundle/gist
	url = http://github.com/mattn/gist-vim.git
[submodule "home/.vim/bundle/liquid"]
	path = home/.vim/bundle/liquid
	url = http://github.com/tpope/vim-liquid.git
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = http://github.com/tsaleh/vim-supertab.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/jekyll"]
	path = home/.vim/bundle/jekyll
	url = http://github.com/csexton/jekyll.vim.git
[submodule "home/.vim/bundle/delimitmate"]
	path = home/.vim/bundle/delimitmate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/bundle/tcomment"]
	path = home/.vim/bundle/tcomment
	url = http://github.com/tomtom/tcomment_vim.git
[submodule "home/.vim/bundle/javascript"]
	path = home/.vim/bundle/javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/haml"]
	path = home/.vim/bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/sinatra"]
	path = home/.vim/bundle/sinatra
	url = https://github.com/hallison/vim-ruby-sinatra.git
[submodule "home/.vim/bundle/js"]
	path = home/.vim/bundle/js
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/ruby"]
	path = home/.vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/txt"]
	path = home/.vim/bundle/txt
	url = git://github.com/vim-scripts/txt.vim--xu.git
[submodule "home/.vim/bundle/sparkup"]
	path = home/.vim/bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule "home/.vim/bundle/rainbow"]
	path = home/.vim/bundle/rainbow
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "home/.vim/bundle/molokai"]
	path = home/.vim/bundle/molokai
	url = https://github.com/mrtazz/molokai.vim.git
[submodule "home/.vim/bundle/mercurial"]
	path = home/.vim/bundle/mercurial
	url = https://github.com/DasIch/vim-mercurial.git
[submodule "home/.vim/bundle/easymotion"]
	path = home/.vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "home/.vim/bundle/vividchalk"]
	path = home/.vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
