[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/endwise"]
	path = home/.vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/liquid"]
	path = home/.vim/bundle/liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/javascript"]
	path = home/.vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/tabular"]
	path = home/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "home/.vim/bundle/js"]
	path = home/.vim/bundle/js
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/tcomment"]
	path = home/.vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "home/.vim/bundle/coffee"]
	path = home/.vim/bundle/coffee
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/gist"]
	path = home/.vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "home/.vim/bundle/ruby"]
	path = home/.vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/io"]
	path = home/.vim/bundle/io
	url = https://github.com/vim-scripts/Io-programming-language-syntax.git
[submodule "home/.vim/bundle/delimitmate"]
	path = home/.vim/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/puppet"]
	path = home/.vim/bundle/puppet
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
