pkg
nbproject
*~
*.rbc
*.pyc
*.log
*.db
*.sqlite3
*.bak
*.orig
*.rej
*.swo
*.swp
*.tmproj
*.a
*.dSYM
*.dylib
*.la
*.lo
*.o
*.so
.*.d
.\#*
.dotest
.gdb_history
.glimpse*
.hg
.hgignore
.yardoc
COMMIT
TAGS
.svn
autom4te.cache
code-cache
coverage
tmp
dist
setuptools-*
.sass-cache
.DS_Store
.rvmrc*
.rbenv-version
.ruby-version
log/*.log  
tmp/**/*  
Procfile.simon
