[user]
  name = Simon Eskildsen
  email = sirup@sirupsen.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[merge]
  tool = vimdiff
[core]
  editor = /usr/bin/vim
[interactive]
  singlekey = true
[push]
  default = current
[pull]
  default = current
  rebase = true
[hub]
  protocol = ssh
[init]
  templatedir = ~/.git_template
