[user]
  name = Simon Eskildsen
  email = sirup@sirupsen.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[merge]
  tool = vimdiff
[interactive]
  singlekey = true
[push]
  default = current
[pull]
  default = current
  rebase = true
[hub]
  protocol = ssh
[init]
  templatedir = ~/.git_template
[alias]
  fix = "!f() { ${EDITOR} `git diff --name-only`; }; f"
[diff]
	algorithm = patience
[protocol]
	version = 2
[credential]
	helper = osxkeychain
[url "https://github.com/Shopify/"]
	insteadOf = git@github.com:Shopify/
	insteadOf = git@github.com:shopify/
	insteadOf = ssh://git@github.com/Shopify/
	insteadOf = ssh://git@github.com/shopify/
[core]
	commitGraph = true
	excludesfile = /Users/personal/.global_gitignore
[gc]
	writeCommitGraph = true
[credential]
	helper = store --file /opt/dev/var/private/git_credential_store
