[user]
  name = Simon Eskildsen
  email = sirup@sirupsen.com
	signingkey = 6E4E24B83BFAD7D3
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[merge]
  tool = vimdiff
[interactive]
  singlekey = true
[push]
  default = current
[pull]
  default = current
  rebase = true
[hub]
  protocol = ssh
[init]
  templatedir = ~/.git_template
[gpg]
	program = gpg
[commit]
	gpgsign = true
