<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="IDLE"> <action name="Execute">
				<execute>idle</execute>
			</action> </item>
			<item label="Python"> <action name="Execute">
				<execute>xterm -e python</execute>
			</action> </item>
			<item label="Qt Assistant"> <action name="Execute">
				<execute>assistant</execute>
			</action> </item>
			<item label="Qt Designer"> <action name="Execute">
				<execute>designer</execute>
			</action> </item>
			<item label="Qt Linguist"> <action name="Execute">
				<execute>linguist</execute>
			</action> </item>
		</menu>
		<menu id="2" label="Editors">
			<item label="AA Fire"> <action name="Execute">
				<execute>xterm -e aafire -driver slang</execute>
			</action> </item>
			<item label="gedit"> <action name="Execute">
				<execute>gedit</execute>
			</action> </item>
			<item label="GVim"> <action name="Execute">
				<execute>gvim</execute>
			</action> </item>
			<item label="Nano"> <action name="Execute">
				<execute>xterm -e nano</execute>
			</action> </item>
			<item label="Vi"> <action name="Execute">
				<execute>xterm -e vi</execute>
			</action> </item>
			<item label="Vim"> <action name="Execute">
				<execute>xterm -e vim</execute>
			</action> </item>
			<item label="Xedit"> <action name="Execute">
				<execute>xedit</execute>
			</action> </item>
		</menu>
		<menu id="18" label="Games">
			<menu id="9" label="Adventure">
				<item label="NetHack"> <action name="Execute">
					<execute>xterm -e nethack</execute>
				</action> </item>
			</menu>
			<menu id="17" label="Amusement">
				<item label="Xeyes"> <action name="Execute">
					<execute>xeyes</execute>
				</action> </item>
				<item label="Xlogo"> <action name="Execute">
					<execute>xlogo</execute>
				</action> </item>
			</menu>
			<menu id="10" label="Arcade">
				<item label="PacMan"> <action name="Execute">
					<execute>pacman</execute>
				</action> </item>
			</menu>
			<menu id="11" label="Board">
				<item label="Monopoly"> <action name="Execute">
					<execute>xterm -e monop</execute>
				</action> </item>
			</menu>
			<item label="PlayOnLinux"> <action name="Execute">
				<execute>playonlinux</execute>
			</action> </item>
		</menu>
		<menu id="6" label="Graphics">
			<item label="Mirage"> <action name="Execute">
				<execute>mirage</execute>
			</action> </item>
			<item label="XGlyph"> <action name="Execute">
				<execute>xglyph</execute>
			</action> </item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer"> <action name="Execute">
				<execute>xterm -e alsamixer</execute>
			</action> </item>
			<item label="Brasero"> <action name="Execute">
				<execute>brasero</execute>
			</action> </item>
			<item label="FlashPlayer"> <action name="Execute">
				<execute>flashplayer</execute>
			</action> </item>
			<item label="Gnome Music Player Client"> <action name="Execute">
				<execute>gmpc</execute>
			</action> </item>
			<item label="gtk-recordMyDesktop"> <action name="Execute">
				<execute>gtk-recordMyDesktop</execute>
			</action> </item>
			<item label="Istanbul Desktop Session Recorder"> <action name="Execute">
				<execute>istanbul</execute>
			</action> </item>
			<item label="Recorder"> <action name="Execute">
				<execute>recorder</execute>
			</action> </item>
			<item label="Sonata"> <action name="Execute">
				<execute>sonata</execute>
			</action> </item>
		</menu>
		<menu id="5" label="Network">
			<item label="Avahi SSH Server Browser"> <action name="Execute">
				<execute>bssh</execute>
			</action> </item>
			<item label="Avahi VNC Server Browser"> <action name="Execute">
				<execute>bvnc</execute>
			</action> </item>
			<item label="Chromium"> <action name="Execute">
				<execute>chromium-browser</execute>
			</action> </item>
			<item label="FireFox"> <action name="Execute">
				<execute>firefox</execute>
			</action> </item>
			<item label="gFTP"> <action name="Execute">
				<execute>gftp</execute>
			</action> </item>
			<item label="Lynx"> <action name="Execute">
				<execute>xterm -e lynx</execute>
			</action> </item>
			<item label="Mail"> <action name="Execute">
				<execute>xterm -e mail</execute>
			</action> </item>
			<item label="Pidgin Internet Messenger"> <action name="Execute">
				<execute>pidgin</execute>
			</action> </item>
			<item label="Skype"> <action name="Execute">
				<execute>skype</execute>
			</action> </item>
			<item label="TkVNC"> <action name="Execute">
				<execute>xterm -e tkvnc</execute>
			</action> </item>
			<item label="Transmission"> <action name="Execute">
				<execute>transmission</execute>
			</action> </item>
			<item label="Tucan Manager"> <action name="Execute">
				<execute>tucan</execute>
			</action> </item>
			<item label="Zenmap"> <action name="Execute">
				<execute>zenmap</execute>
			</action> </item>
			<item label="Zenmap (as root)"> <action name="Execute">
				<execute>/usr/share/zenmap/su-to-zenmap.sh</execute>
			</action> </item>
		</menu>
		<menu id="3" label="Office">
			<item label="Evince"> <action name="Execute">
				<execute>evince</execute>
			</action> </item>
			<item label="PyRoom"> <action name="Execute">
				<execute>pyroom</execute>
			</action> </item>
			<item label="Xbiff"> <action name="Execute">
				<execute>xbiff</execute>
			</action> </item>
		</menu>
		<menu id="39" label="Other">
			<item label="CMake"> <action name="Execute">
				<execute>cmake-gui</execute>
			</action> </item>
			<item label="Gcolor2"> <action name="Execute">
				<execute>gcolor2</execute>
			</action> </item>
			<item label="GNOME MPlayer"> <action name="Execute">
				<execute>gnome-mplayer</execute>
			</action> </item>
			<item label="Pinta"> <action name="Execute">
				<execute>pinta</execute>
			</action> </item>
		</menu>
		<menu id="4" label="Science">
			<item label="bc"> <action name="Execute">
				<execute>xterm -e bc</execute>
			</action> </item>
			<item label="dc"> <action name="Execute">
				<execute>xterm -e dc</execute>
			</action> </item>
			<item label="Xcalc"> <action name="Execute">
				<execute>xcalc</execute>
			</action> </item>
		</menu>
		<menu id="19" label="Shells">
			<item label="Dash"> <action name="Execute">
				<execute>xterm -e dash -i</execute>
			</action> </item>
			<item label="GIT"> <action name="Execute">
				<execute>xterm -e git</execute>
			</action> </item>
			<item label="Root Terminal"> <action name="Execute">
				<execute>gksu -l gnome-terminal</execute>
			</action> </item>
			<item label="Sakura"> <action name="Execute">
				<execute>sakura</execute>
			</action> </item>
			<item label="Thunar File Manager"> <action name="Execute">
				<execute>Thunar</execute>
			</action> </item>
			<item label="Xterm"> <action name="Execute">
				<execute>xterm</execute>
			</action> </item>
			<item label="XTerm (Unicode)"> <action name="Execute">
				<execute>uxterm</execute>
			</action> </item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="21" label="GNOME">
					<item label="Pop-Up Notifications"> <action name="Execute">
						<execute>notification-properties</execute>
					</action> </item>
					<item label="Privilege granting"> <action name="Execute">
						<execute>gksu-properties</execute>
					</action> </item>
				</menu>
				<menu id="35" label="Xfce">
					<item label="File Manager"> <action name="Execute">
						<execute>thunar-settings</execute>
					</action> </item>
					<item label="Preferred Applications"> <action name="Execute">
						<execute>exo-preferred-applications</execute>
					</action> </item>
					<item label="Removable Drives and Media"> <action name="Execute">
						<execute>/usr/lib/xfce4/thunar-volman-settings</execute>
					</action> </item>
				</menu>
				<item label="Appearance"> <action name="Execute">
					<execute>lxappearance</execute>
				</action> </item>
				<item label="Manage Printing"> <action name="Execute">
					<execute>xdg-open http://localhost:631/</execute>
				</action> </item>
				<item label="NVIDIA X Server Settings"> <action name="Execute">
					<execute>nvidia-settings</execute>
				</action> </item>
				<item label="Openbox Configuration Manager"> <action name="Execute">
					<execute>obconf</execute>
				</action> </item>
				<item label="Qt Config"> <action name="Execute">
					<execute>qtconfig</execute>
				</action> </item>
				<item label="Xfontsel"> <action name="Execute">
					<execute>xfontsel</execute>
				</action> </item>
				<item label="Xvidtune"> <action name="Execute">
					<execute>xvidtune</execute>
				</action> </item>
			</menu>
			<item label="Avahi Zeroconf Browser"> <action name="Execute">
				<execute>avahi-discover</execute>
			</action> </item>
			<item label="Bulk Rename"> <action name="Execute">
				<execute>/usr/lib/ThunarBulkRename</execute>
			</action> </item>
			<item label="Configuration Editor"> <action name="Execute">
				<execute>gconf-editor</execute>
			</action> </item>
			<item label="Disk Utility"> <action name="Execute">
				<execute>palimpsest</execute>
			</action> </item>
			<item label="GDM Setup"> <action name="Execute">
				<execute>gksu gdmsetup</execute>
			</action> </item>
			<item label="Htop"> <action name="Execute">
				<execute>xterm -e htop</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree.x11</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e pstree</execute>
			</action> </item>
			<item label="pstree"> <action name="Execute">
				<execute>xterm -e /usr/bin/pstree.x11</execute>
			</action> </item>
			<item label="Top"> <action name="Execute">
				<execute>xterm -e top</execute>
			</action> </item>
			<item label="Xconsole"> <action name="Execute">
				<execute>xconsole</execute>
			</action> </item>
			<item label="Xload"> <action name="Execute">
				<execute>xload</execute>
			</action> </item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Archive Manager"> <action name="Execute">
				<execute>file-roller</execute>
			</action> </item>
			<item label="Character Map"> <action name="Execute">
				<execute>gucharmap</execute>
			</action> </item>
			<item label="Editres"> <action name="Execute">
				<execute>editres</execute>
			</action> </item>
			<item label="Graveman"> <action name="Execute">
				<execute>graveman</execute>
			</action> </item>
			<item label="Info"> <action name="Execute">
				<execute>xterm -e info</execute>
			</action> </item>
			<item label="Oclock"> <action name="Execute">
				<execute>oclock</execute>
			</action> </item>
			<item label="Viewres"> <action name="Execute">
				<execute>viewres</execute>
			</action> </item>
			<item label="Xclipboard"> <action name="Execute">
				<execute>xclipboard</execute>
			</action> </item>
			<item label="Xclock (analog)"> <action name="Execute">
				<execute>xclock -analog</execute>
			</action> </item>
			<item label="Xclock (digital)"> <action name="Execute">
				<execute>xclock -digital -update 1</execute>
			</action> </item>
			<item label="Xclock (digital)"> <action name="Execute">
				<execute>xclock -digital</execute>
			</action> </item>
			<item label="Xcutsel"> <action name="Execute">
				<execute>xcutsel</execute>
			</action> </item>
			<item label="Xev"> <action name="Execute">
				<execute>xterm -e xev</execute>
			</action> </item>
			<item label="Xkill"> <action name="Execute">
				<execute>xkill</execute>
			</action> </item>
			<item label="Xmag"> <action name="Execute">
				<execute>xmag</execute>
			</action> </item>
			<item label="Xman"> <action name="Execute">
				<execute>xman</execute>
			</action> </item>
			<item label="Xrefresh"> <action name="Execute">
				<execute>xrefresh</execute>
			</action> </item>
			<item label="Xsetroot"> <action name="Execute">
				<execute>xsetroot</execute>
			</action> </item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"> <action name="Reconfigure"/> </item>
			<separator/>
			<item label="Exit"> <action name="Exit"/> </item>
		</menu>
	</menu>
</openbox_menu>
